.body {
  min-height: 100vh;
  flex: 1;
}

.container {
  max-width: 76rem;
  margin: 0 auto;
  padding: 2.5rem 1.75rem 6rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 640px) {
  .container {
    padding: 3rem 2rem 6rem;
  }
}
